/* line 2, ../sass/_mixins.scss */
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}
/* line 6, ../sass/_mixins.scss */
.clearfix:after {
  clear: both;
}
/* line 9, ../sass/_mixins.scss */
.clearfix {
  *zoom: 1;
}

/* line 4, ../sass/screen.scss */
body, html {
  height: 100%;
  padding: 0;
}

/* line 9, ../sass/screen.scss */
body {
  background-color: #d6f7fe;
  font-family: 'Cabin', sans-serif;
}

/* line 15, ../sass/screen.scss */
#paginator {
  position: fixed;
  width: 100%;
  bottom: 50px;
}
@media (max-width: 768px) {
  /* line 15, ../sass/screen.scss */
  #paginator {
    bottom: 25px;
  }
}
@media (max-width: 400px) {
  /* line 15, ../sass/screen.scss */
  #paginator {
    bottom: 15px;
  }
}
/* line 27, ../sass/screen.scss */
#paginator ul {
  display: block;
  list-style-type: none;
  padding: 0;
  width: 140px;
  margin: 0 auto;
}
/* line 35, ../sass/screen.scss */
#paginator li {
  background-image: url("./../img/sprites/page.png");
  float: left;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  margin-right: 8px;
}
/* line 45, ../sass/screen.scss */
#paginator li.active {
  background-image: url("./../img/sprites/active.png");
}

/* line 51, ../sass/screen.scss */
#paginator .fixfixed {
  position: absolute;
}

/* line 55, ../sass/screen.scss */
body {
  background-image: url("./../img/palms.png");
  background-repeat: repeat-x;
  background-position: bottom;
}

/* line 62, ../sass/screen.scss */
#content {
  position: relative;
  width: 600%;
  height: 100%;
}

/* line 71, ../sass/screen.scss */
.page {
  float: left;
  width: 16.65%;
  height: 100%;
}
/* line 76, ../sass/screen.scss */
.page .content {
  display: block;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  background-color: #a2e4f4;
  background: rgba(167, 230, 245, 0.8);
  color: #0a404c;
  line-height: 1.8em;
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}
@media (max-width: 768px) {
  /* line 76, ../sass/screen.scss */
  .page .content {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 400px) {
  /* line 76, ../sass/screen.scss */
  .page .content {
    font-size: 14px;
  }
}
/* line 99, ../sass/screen.scss */
.page .content h1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Cabin, bold;
}
/* line 106, ../sass/screen.scss */
.page .content h1, .page .content p, .page .content img, .page .content form {
  max-height: 30%;
  margin: 0 auto;
  padding-bottom: 30px;
}
/* line 112, ../sass/screen.scss */
.page .content p {
  text-align: center;
}

/* line 118, ../sass/screen.scss */
.spacer {
  float: left;
  width: 4.185%;
  min-height: 100%;
}

/* line 124, ../sass/screen.scss */
canvas {
  position: absolute;
}

/* line 129, ../sass/screen.scss */
#page1 {
  z-index: 99;
}

/* line 133, ../sass/screen.scss */
#img5 {
  float: left;
  margin-top: 15px;
}

@media (max-width: 768px) {
  /* line 138, ../sass/screen.scss */
  .container, .col-md-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/*
#page1, #page6  { background: rgba(200, 200, 0, 0.5) }
#page2, #page7  { background: rgba(255, 0, 200, 0.5)}
#page3          { background: rgba(100, 100, 100, 0.5)}
#page4          { background: rgba(255, 0, 0, 0.5)}
#page5          { background: rgba(255, 0, 0, 0.5)}
*/
